# Archivos generados por PyInstaller
build/
dist/
*.spec

# Entornos virtuales de Python
venv/
*.venv/
env/
*.env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema operativo
.DS_Store
Thumbs.db